@import 'tailwindcss';

:root {
	--primary: #8cc0eb;
	--secondary: #bfddf0;
	--tertiary: #ffebcc;
	--quaternary: #fff9d2;

	--text: var(--color-gray-700);
	--text-h: var(--color-gray-900);
	--bg: #f2f0ef;
	--border: var(--color-gray-700);
	--accent: #2490e5;
	--accent-bg: rgba(36, 144, 229, 0.1);
	--accent-border: rgba(36, 144, 229, 0.5);
	--shadow:
		rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

	font: var(--text-lg) var(--font-sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: var(--color-gray-200);
		--text-h: var(--color-gray-50);
		--bg: var(--color-gray-900);
		--bg-2: var(--color-gray-700);
		--border: var(--color-gray-500);
		--code-bg: #1f2028;
		--accent: #8cc0eb;
		--accent-bg: rgba(140, 192, 235, 0.1);
		--accent-border: rgba(140, 192, 235, 0.5);
		--shadow:
			rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
			rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
	}
}

#root {
	width: 100vw;
	height: 100vh;
}

@theme {
}
